<p>Result saved to database<p>

<h4><%=@event.event_name%></h4><br>

<p>Gold Medal Winner: <%=@result.ind_gold_medal_winner.pretty_name%></p>
<p>Silver Medal Winner: <%=@result.ind_silver_medal_winner.pretty_name%></p>
<p>Bronze Medal Winner: <%=@result.ind_bronze_medal_winner.pretty_name%></p>