<!DOCTYPE html>
<html>
<head>
  <title>Rio 2016 Olympics</title>
  <link rel="stylesheet" type="text/css" href="/normalize.css">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href='https://fonts.googleapis.com/css?family=Kanit:700|Montserrat' rel='stylesheet' type='text/css'>
</head>
<body>
<nav>
<div class="one">
<a class="one" href="/">Home</a>
<a class="one" href="/events">Events</a>
<a class="one" href="/nations">Nations</a>
<a class="one" href="/athletes">Athletes</a>
</div>
<div class="two">
<a class="two" href="/participations/new">Register athlete for event</a>
<a class="two" href="/events/new">New event</a>
<a class="two" href="/nations/new">New nation</a>
<a class="two" href="/athletes/new">New Athlete</a>
</div>
</nav>
<%= yield %>
</body>
</html>