<h3>Result saved to database</h3><br>

<h4><%=@event.event_name%></h4><br>

<p>Gold Medal Winner: <%=@result.team_gold_medal_winner.nation_name%></p>
<p>Silver Medal Winner: <%=@result.team_silver_medal_winner.nation_name%></p>
<p>Bronze Medal Winner: <%=@result.team_bronze_medal_winner.nation_name%></p>