<h3>Add a new nation</h3>

<form action="/nations" method="post">


  <label for="nation_name">Enter name of nation:</label>
  <input type="text" name="nation_name"></input> 

  <input type="submit" value="Save"></input>

  </form>