<p>New athlete <%=@athlete.pretty_name%>, representing <%=@athlete.nation.nation_name%> added to database.</p>

<a href="/participations/new">Register athlete for event</a><br>
<a href="/athletes/new">Add another athlete</a><br>
